
/*Universal Selector - Sets Parameters throughout entire page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body Type Selector - Sets Parameters throughout Body */
body {
    background-color: #d9dcd6;
}

/* Header Type Selector - Sets Parameters throughout Body  */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Header Type Selector w/ h1 Type - Sets Parameters for h1 elements in Header  */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*  Header Type Selector w/ h1 Type that contains SEO class - updates only "seo" type in header h1 */
.header h1 .seo {
    color: #d9dcd6;
}

/* Header Type Selector w/ nav Type - Sets Parameters for nav elements in Header */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Header Type Selector w/ nav Type that contains a unordered List - Sets Parameters for ul list within Header and nav */
.header nav ul {
    list-style-type: none;
}

/* Header Type Selector w/ nav Type that contains a unordered List with line items - Sets Parameters for ul list line items within Header and nav */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a Type Selector - sets Parameters for any <a> tag */
a {
    color: #ffffff;
    text-decoration: none;
}

/* p type Selector - sets Parameters for any <p> tag */
p {
    font-size: 16px;
}

/* hero tag - setting up the hero image thats above the fold  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Class selector - setting float left for certain images within article section */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Class selector - setting float right for certain images within article section */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Content Class Selector - Setting the box width for the article section */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Benefits Class Selector - Sets parameters for items within the Aside Section*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* Class Selector - Setting text color and margins for aside section - Maybe clean up in future - consolidate this with other 2*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selector - Setting text color and margins for aside section - Maybe clean up in future - consolidate this with other 2 */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selector - Setting text color and margins for aside section - Maybe clean up in future - consolidate this with other 2 */
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Class Selector - setting h3 parameters for aside section - Maybe in future - consolidate this with other 2 */
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class Selector - setting h3 parameters for aside section - Maybe in future - consolidate this with other 2  */
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class Selector - setting h3 parameters for aside section - Maybe in future - consolidate this with other 2  */
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Class Selector - setting image parameters for aside section - Maybe in future - consolidate this with other 2  */
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selector - setting image parameters for aside section - Maybe in future - consolidate this with other 2  */
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selector - setting image parameters for aside section - Maybe in future - consolidate this with other 2  */
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Class Selector for article containers - setting box size/ text attributes  */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selector for article containers - setting box size/ text attributes  */
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selector for article containers - setting box size/ text attributes */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Class Selector for image that's part of the SEO article box */
.search-engine-optimization img {
    max-height: 200px;
}

/* Class Selector for image that's part of the Online Rep Management article box */
.online-reputation-management img {
    max-height: 200px;
}

/* Class Selector for image that's part of the Social Media Marketing article box */
.social-media-marketing img {
    max-height: 200px;
}

/* Class Selector for h2 that's part of the SEO article box */
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class Selector for h2 that's part of the Online Rep Management article box  */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Class Selector for h2 that's part of the Social Media Marketing article box  */
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Footer type selector - Sets parameters for entire Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Footer/ H2 Type Selector/ Clas Selector - Sets parameters for h2 tags within Footer */
.footer h2 {
    font-size: 20px;
}
